body {
    padding: 0;
    margin: 0;
    font-size: 120%;
    font-family: Tahoma, Geneva, sans-serif;
}
html, body, #map {
    height: 100%;
}
#my-popup {
    height: 150px;
}
#my-popup-footer > button {
    padding: 5px;
}
.my-keys {
    color: #8e8e8e;
    padding-right: 1em;
}
#my-popup-footer {
    margin-top: 2em;
    text-align: center;
}
#conditionDiv {
    min-height: 50px;
}


